body {

}

.whole-webpage {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: white;
    padding: 0px 150px;
    justify-content: space-between;
    flex: 1;
    padding-bottom: 50px;
}

.header-logo {
    width: 50px;
}

.top-right-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.top-right-links a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}


/* This is where first section starts */


.first-section {
    background-color: #1f2937;
    display: flex;
    padding: 0px 150px;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 50px;
}

.first-section-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.bold-title {
    margin-top: -32.16px;
    margin-bottom: -20px;
}

.bold-title h1 {
    font-size: 48px;
    font-weight: 800;
    color: white;
}

.title-description p {
    font-size: 18px;
    color: white;
}

.sign-up-button button {
    color: white;
    background-color: #3882f6;
    padding: 5px 15px;
}

.rikutoaf-headshot {
    width: 300px;
    margin-left: 30px;
}



/* This is where the second section starts */


.second-section {
    background-color: white;
    display: flex;
    padding: 40px 150px;
    flex-direction: column;
    align-items: center;
}

.second-section h3 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 700;
}

.work-examples {
    display: flex;
    gap: 20px;
    flex: 1;
}

.work-1,
.work-2,
.work-3,
.work-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.work-icons {
    width: 130px;
}

.work-icon-border {
    border-style: solid;
    border-color: #3882F6;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    height: 130px;
    display: flex;
    align-items: center;
}

.work-examples p {
    font-size: 18px;
    color: #1f2937;
    text-align: center;
}


